<!-- SCREENSHOTS -->
<section class="section" id="screenshots">
  <div class="container">
    <!-- header -->
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 class="title zoomIn animated wow" data-wow-delay=".1s">Our Library</h1>
      </div> 
    </div>
    <!-- end header -->

    <!-- documents -->
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <% @documents.in_groups_of(3).each do |documents| %>
          <div class="row">
            <% documents.compact.each do |document| %>
              <div class="col-sm-4">
                <%= link_to document, class: 'thumb preview-thumb' do %>
                  <div>Document: <%= document.title %></div>
                <% end %>
                  <div>Price: <%= document.price %></div>
                  <div>Author: <%= document.author.full_name %></div>
              </div>
            <% end %>
          </div> <!-- end row -->
        <% end %>
      </div> <!-- col -->
    </div> <!-- end row -->
  </div>
</section>
<!-- END SCREENSHOTS -->