<section class="event">
    <span class="thumb-sm avatar pull-left mr-sm">
        <%= image_tag @document.cover, class: 'img-circle' %>
        
    </span>
    <h4 class="event-heading"><%= link_to @document.title, @document.doc.url, download: @document.title %> </h4>
    <% if user_signed_in? %>
    	<p class="fs-sm text-muted">You purchased on <%= @document.transactions.where(buyer: current_user).first.created_at.strftime("%B %d, %Y") %></p>
    <% end %>

    <footer>

    </footer>
</section>