<h2>Purchase</h2>
<section class="event">
    <span class="thumb-sm avatar pull-left mr-sm">
        <img class="img-circle" src="/assets/production/demo/people/a5.jpg" alt="...">
    </span>
    <h4 class="event-heading"><a href="#">Bob Nilson</a> <small><a href="#">@nils</a></small></h4>
    <p class="fs-sm text-muted">February 22, 2014 at 01:59 PM</p>
    <p class="fs-mini">
        <%= form_for @transaction do |f| %>
          <div id="dropin-container"></div>
          <%= f.hidden_field :document_id, value: @document.id %>
          <%= f.submit "Purchase", class: 'btn btn-default' %>
        <% end %>
    </p>
    <footer>
        <ul class="post-links">
            <li><a href="#">1 hour</a></li>
            <li><a href="#"><span class="text-danger"><i class="fa fa-heart"></i> Like</span></a></li>
            <li><a href="#">Comment</a></li>
        </ul>
    </footer>
</section>
